
<%= render 'form', post: @post %>

<p id="intro">
  <br>
<br>
<B>
  <a href="#explain1">★当サイトにご興味のある方はこちら！！</a>
</B>
</p>

<% if @informations.size != 0 %>
  <h4><B>お知らせ</B></h4>
  <% @informations.each do |information| %>
  <ul class="list_info">
    <li><%= information.content %></li>
  </ul>
  <% end %>
<% end %>

<table class="media">
  <div class="post-table">
    <% @posts.each do |post| %>
    <tr>
　　　  <td class="media__image">
　　　      <%= image_tag post.image, :size =>'500x400' %>
　　　  </td>
        <td class="media__heading"><p><%= post.content %></p></td>
        
        <td><%= post.user.prefecture%></td>
        <td><%= link_to '保健所へ問合せ', request_new_path(post.user_id) %></td>
      </tr>
    <% end %>
  </div>
</table>

<a name="explain1"></a>
<p>
  <strong><B>ペットをご検討の方</B></strong>は、ご興味をもたれたペット画像ヨコの保健所へ問合せリンクよりご連絡下さい。
  <br>
  <strong><B>当サイトをご利用したい保健所の方</B></strong>は、上部コンタクトよりご連絡下さい。
  <br>
  <strong><B>試供品などご提供いただける業者の方</B></strong>は、上部コンタクトよりご連絡下さい。
  <br>
  <strong><B>当サイトへリンクをご希望のサイト様</B></strong>は、上部コンタクトよりご連絡下さい。
</p>

<p id="pageTop"><a href="#"><i class="fa fa-chevron-up">top</i></a></p>

