<% if @informations.size != 0 %>
  <h4><B>お知らせ</B></h4>
  <% @informations.each do |information| %>
    <p><%= information.content %></p>
  <% end %>
<% end %>

<div class="media">

<table>
  <div class="post-table">
    <% @posts.each do |post| %>
    <tr>
      <div class="media__image">
　　　  <td>
　　　      <%= image_tag post.image, :size =>'600x400' %>
　　　  </td>
　　  </div>
      <div class="media__summary">
        <td class="media__heading"><%= post.content %></td>
      </div>
        <td><%= post.user_id %></td>
        <td><%= link_to '保健所へ問合せ', request_new_path(post.user_id) %></td>
      </tr>
    <% end %>
  </div>
</table>
</div>
<%= link_to 'お問合せ', new_contact_path %>