<input type="button" value="ログイン" onClick="location.href='sessions/new'">

<% if @informations.size != 0 %>
  <h4><B>お知らせ</B></h4>
  <% @informations.each do |information| %>
    <p><%= information.content %></p>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th>Release</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="post-table">
    <% @posts.each do |post| %>
　　　  <td class="post-img">
　　　      <%= image_tag post.image, :size =>'200x300' %>
　　　  </td>
        <td><%= post.content %></td>
        <td><%= post.release %></td>
        <td><%= link_to 'Show', post %></td>
    <% end %>
  </tbody>
</table>
<%= link_to 'お問合せ', new_contact_path %>