
<%= render 'form', post: @post %>

<% if @informations.size != 0 %>
  <h4><B>お知らせ</B></h4>
  <% @informations.each do |information| %>
  <ul class="list_info">
    <li><%= information.content %></li>
  </ul>
  <% end %>
<% end %>

<table class="media">
  <div class="post-table">
    <% @posts.each do |post| %>
    <tr>
　　　  <td class="media__image">
　　　      <%= image_tag post.image, :size =>'500x400' %>
　　　  </td>
        <td class="media__heading"><p><%= post.content %></p></td>
        <td><%= post.user_id %></td>
        <td><%= link_to '保健所へ問合せ', request_new_path(post.user_id) %></td>
      </tr>
    <% end %>
  </div>
</table>
