		<div class="container">

			<div class="wrapper">

				<ul id="sb-slider" class="sb-slider">
					<li>
						<a href="http://www.flickr.com/photos/strupler/2969141180" target="_blank"><img src="/assets/1.jpg" alt="image1"/></a>
						<div class="sb-description">
							<h3>Creative Lifesaver</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968268187" target="_blank"><img src="/assets/2.jpg" alt="image2"/></a>
						<div class="sb-description">
							<h3>Honest Entertainer</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968114825" target="_blank"><img src="/assets/3.jpg" alt="image3"/></a>
						<div class="sb-description">
							<h3>Brave Astronaut</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968122059" target="_blank"><img src="/assets/4.jpg" alt="image4"/></a>
						<div class="sb-description">
							<h3>Affectionate Decision Maker</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2969119944" target="_blank"><img src="/assets/5.jpg" alt="image5"/></a>
						<div class="sb-description">
							<h3>Faithful Investor</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968126177" target="_blank"><img src="/assets/6.jpg" alt="image6"/></a>
						<div class="sb-description">
							<h3>Groundbreaking Artist</h3>
						</div>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="/assets/7.jpg" alt="image7"/></a>
						<div class="sb-description">
							<h3>Selfless Philantropist</h3>
						</div>
					</li>
				</ul>

				<div id="shadow" class="shadow"></div>

				<div id="nav-arrows" class="nav-arrows">
					<a href="#">Next</a>
					<a href="#">Previous</a>
				</div>

				<div id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>

			</div><!-- /wrapper -->

		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.slicebox.js"></script>
		<script type="text/javascript">
			$(function() {

				var Page = (function() {

					var $navArrows = $( '#nav-arrows' ).hide(),
						$navDots = $( '#nav-dots' ).hide(),
						$nav = $navDots.children( 'span' ),
						$shadow = $( '#shadow' ).hide(),
						slicebox = $( '#sb-slider' ).slicebox( {
							onReady : function() {

								$navArrows.show();
								$navDots.show();
								$shadow.show();

							},
							onBeforeChange : function( pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),
						
						init = function() {

							initEvents();
							
						},
						initEvents = function() {

							// add navigation events
							$navArrows.children( ':first' ).on( 'click', function() {

								slicebox.next();
								return false;

							} );

							$navArrows.children( ':last' ).on( 'click', function() {
								
								slicebox.previous();
								return false;

							} );

							$nav.each( function( i ) {
							
								$( this ).on( 'click', function( event ) {
									
									var $dot = $( this );
									
									if( !slicebox.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );
									
									}
									
									slicebox.jump( i + 1 );
									return false;
								
								} );
								
							} );

						};

						return { init : init };

				})();

				Page.init();

			});
		</script>



<%= render 'form', post: @post %>

<p id="intro">
  <br>
<br>
<B>
  <a href="#explain1">★当サイトにご興味のある方はこちら！！</a>
</B>
</p>

<% if @informations.size != 0 %>
  <h4><B>当サイトからのお知らせ</B></h4>
  <% @informations.each do |information| %>
  <ul class="list_info">
    <li><%= information.content %></li>
  </ul>
  <% end %>
<% end %>

<table class="media">
  <div class="post-table">
    <% @posts.each do |post| %>
    <tr>
　　　  <td class="media__image">
　　　      <%= image_tag post.image, :size =>'500x400' %>
　　　  </td>
        <td class="media__heading"><p><%= post.content %></p></td>
        
        <td><%= post.user.prefecture%></td>
        <td><%= link_to '保健所へ問合せ', request_new_path(post.user_id) %></td>
      </tr>
    <% end %>
  </div>
</table>

<a name="explain1"></a>
<p>
  <strong><B>ペットをご検討の方</B></strong>は、ご興味をもたれたペット画像ヨコの保健所へ問合せリンクよりご連絡下さい。
  <br>
  <strong><B>当サイトをご利用したい保健所の方</B></strong>は、上部コンタクトよりご連絡下さい。
  <br>
  <strong><B>試供品などご提供いただける業者の方</B></strong>は、上部コンタクトよりご連絡下さい。
  <br>
  <strong><B>当サイトへリンクをご希望のサイト様</B></strong>は、上部コンタクトよりご連絡下さい。
</p>

<p id="pageTop"><a href="#"><i class="fa fa-chevron-up">top</i></a></p>

