<%= form_with(model: @user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_in">
  <% if @user_role == '1' %>
    施設名：<br>
  <div class="field_in">
    <%= f.text_field :name, :size=>"60" %>
  </div>
    <br><br>
    メールアドレス：<br>
    <%= f.email_field :email, :size=>"60" %>
    <br><br>
    パスワード：<br>
    <%= f.password_field :password, :size=>"60" %>
    <br><br>
    パスワード確認：<br>
    <%= f.password_field :password_confirmation, :size=>"60" %>
    <br><br>
    担当者：<br>
    <%= f.text_field :manager, :size=>"60" %>
    <br><br>
    住所（都道府県）：<br>
    <%= f.text_field :prefecture, :size=>"60" %>
    <br><br>
    　　（市町村）：<br>
    <%= f.text_field :city, :size=>"60" %>
    <br><br>
    　　（町名以下）：<br>
    <%= f.text_field :municipality, :size=>"60" %>
    <br><br>
    電話番号：<br>
    <%= f.text_field :phone %>
    <br><br>
    ロール：<br>
    <%= f.text_field :role %>
  <% else %>
    パスワード：<br>
    <%= f.password_field :password, :size=>"60" %>
    <br><br>
    パスワード確認：<br>
    <%= f.password_field :password_confirmation, :size=>"60" %>
  <% end %>
  </div>
    <br>
  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>


