<%= form_with(model: @user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :manager %>
  <%= f.text_field :manager %>

  <%= f.label :prefecture %>
  <%= f.text_field :prefecture %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :municipality %>
  <%= f.text_field :municipality %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :role %>
  <%= f.text_field :role %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


