<% if @user.role == '1' %>
  <input type="button" value="プロフィール一覧" onClick="location.href='users'">
  <input type="button" value="投稿一覧" onClick="location.href='posts'">
  <input type="button" value="問合せ一覧" onClick="location.href='contacts'">
  <input type="button" value="お知らせ一覧" onClick="location.href='/informations'">
<% else %>
  <%= link_to "パスワード変更", edit_user_path(current_user.id) %>
  <%= link_to "投稿一覧", posts_path %>
  <%= link_to "問合せ一覧", requests_path(current_user.id) %>
<% end %>

<h1>ユーザ情報編集</h1>

<%= render 'form', user: @user %>
<% if @user_role == '1' %>
  <%= link_to '戻る', users_path %>
<% else %>
  <%= link_to '戻る', posts_path %>
<% end %>
