<h1>運用者画面</h1>
<%= link_to "パスワード変更", edit_user_path(current_user.id), class: 'btn btn-primary' %>
<P class="btn btn-primary">
<input type="button" value="投稿一覧" onClick="location.href='/posts'">
</p>
<%= link_to "問合せ一覧", requests_path(current_user.id), class: 'btn btn-primary' %>

<h1>ユーザ情報編集</h1>

<%= render 'form', user: @user %>
<% if @user.role == '1' %>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
<% end %>
