<p id="notice"><%= notice %></p>

<h1>ユーザ一覧</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>EMAIL</th>
      <th>Manager</th>
      <th>role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.manager %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to "edit", edit_user_path(user.id), data: { confirm: '本当に編集していいですか？' } %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
