<input type="button" value="プロフィール一覧" onClick="location.href='/users'">
<input type="button" value="投稿一覧" onClick="location.href='/posts'">
<input type="button" value="問合せ一覧" onClick="location.href='/contacts'">
<input type="button" value="お知らせ一覧" onClick="location.href='/informations'">

<p id="notice"><%= notice %></p>

<h1>ユーザ情報</h1>
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
        <p><%= @user.manager %></p>
        <p><%= @user.prefecture %></p>
        <p><%= @user.city %></p>
        <p><%= @user.municipality %></p>
        <p><%= @user.phone %></p>
        <p><%= @user.role %></p>
