<%= form_with(model: request, local: true, url: choose1_new_or_edit) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "お名前" %>
    <%= form.text_field :name, id: :request_name %>
  </div>

  <div class="field">
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email, id: :request_email %>
  </div>

  <div class="field">
    <%= form.label :content, "お問合せ内容" %>
    <%= form.text_area :content, id: :request_content %>
  </div>

  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :status %>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>

<% end %>
