<%= link_to "パスワード変更", edit_user_path(current_user.id) %>
<%= link_to "投稿一覧", posts_path %>
<%= link_to "問合せ一覧", requests_path(current_user.id) %>

<h1>お問い合わせ</h1>

<!-- レスポンシブ対応のために div を追加 -->
<div class="table-responsive">
  <!-- テーブルにクラスを追加 -->
  <table class="table table-striped">
  <thead>
    <tr>
      <th>問合日</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= link_to '詳細', request %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
