<p id="notice"><%= notice %></p>

<h1>requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= request.content %></td>
        <td><%= link_to 'Show', request %></td>
      </tr>
    <% end %>
  </tbody>
</table>
