<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>問い合わせ内容:</strong>
  <%= @request.content %>
</p>

<%= link_to '戻る', requests_path %>
