<input type="button" value="プロフィール一覧" onClick="location.href='./users'">
<input type="button" value="投稿一覧" onClick="location.href='./posts'">
<input type="button" value="問合せ一覧" onClick="location.href='/contacts'">
<input type="button" value="お知らせ一覧" onClick="location.href='informations_admin'">

<p id="notice"><%= notice %></p>

<h1>問合せ一覧</h1>

<%= page_entries_info @contacts %>

<!-- レスポンシブ対応のために div を追加 -->
<div class="table-responsive">
  <!-- テーブルにクラスを追加 -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ステータス</th>
        <th>問合せ日</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.status %></td>
          <td><%= contact.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= link_to 'ステータス変更', edit_contact_path(contact)  %></td>
          <td><%= link_to '詳細', contact %></td>
          <td><%= link_to '削除', contact, method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @contacts %>
