<input type="button" value="プロフィール一覧" onClick="location.href='./users'">
<input type="button" value="投稿一覧" onClick="location.href='./posts'">
<input type="button" value="問合せ一覧" onClick="location.href='/contacts'">
<input type="button" value="お知らせ一覧" onClick="location.href='/informations'">

<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<%= page_entries_info @contacts %>

<!-- レスポンシブ対応のために div を追加 -->
<div class="table-responsive">
  <!-- テーブルにクラスを追加 -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.content %></td>
          <td><%= link_to 'Show', contact %></td>
          <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?'  }, class: 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @contacts %>
