<p id="notice"><%= notice %></p>

<h1>informations</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>Content</th>
      <th>Destination</th>
      <th>release</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @informations.each do |information| %>
      <tr>
        <td><%= information.title %></td>
        <td><%= information.content %></td>
        <td><%= information.destination %></td>
        <td><%= information.release %></td>
        <td><%= link_to 'Show', information %></td>
        <td><%= link_to 'Edit', edit_information_path(information) %></td>
        <td><%= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New information', new_information_path %>
