<p>
  <strong>Title:</strong>
  <%= @information.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @information.content %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @information.destination %>
</p>

<p>
  <strong>release:</strong>
  <%= @information.release %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', informations_admin_path %>
