<p id="notice"><%= notice %></p>

<h1>運用者画面</h1>
<%= link_to "パスワード変更", edit_user_path(current_user.id) %>
<input type="button" value="投稿一覧" onClick="location.href='posts'">
<%= link_to "問合せ一覧", requests_path(current_user.id) %>

<% if @informations.size != 0 %>
  <h4><B>お知らせ</B></h4>
  <% @informations.each do |information| %>
    <p><%= information.content %></p>
  <% end %>
<% end %>

<%= link_to '新しい投稿', new_post_path, class: 'btn btn-primary' %>

<div class="media">

<table>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th>Release</th>
      <th colspan="3"></th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
    <div class="media__image">
　　　  <td><%= image_tag post.image, :size =>'600x400' %></td>
    </div>
    <div class="media__summary">
        <td class="media__heading"><%= post.content %></td>
    </div>
        <td><%= post.release %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'  %></td>
      </tr>
    <% end %>
</table>
</div>
